<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h2>Kanaku</h2>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto nav-right">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "All Journeys", journeys_path, class: "nav-link" %>
          </li>
           <li class="nav-item active">
            <% @journey = current_user.journeys.nil? ? Journey.create(user: current_user) : current_user.journeys.last%>
            <%= link_to "My Journey", journey_path(@journey), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Venue", new_venue_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to current_user.first_name, "#", class: "nav-link", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%#_____________________________________________SEARCH BAR____________________________________________________________%>

<div class="search-box-container" data-controller="searchBar">
  <div class="search-box" data-searchBar-target="box">
    <%# <button class="btn-magnifying" data-action="focus->searchBar#visibility blur->searchBar#visibility">
      <i class="fas fa-search" data-searchBar-target="magnify"></i>
    </button> %>
    <%# <p id="placeholder" data-searchBar-target="placeholder">Search</p> %>
    <%= form_tag root_path, method: :get, class: "d-flex p-0 justify-content-center" do %>
      <%= text_field_tag :city,
        params[:city],
        class: "input-search",
        placeholder: "Search by City",
        id: "basic-addon2", autocomplete: "off",
        data: { searchBar_target: "inputl"},
        autofocus: true
      %>
      <%= text_field_tag :venue,
        params[:venue],
        class: "input-search",
        placeholder: "Search by Venue",
        id: "basic-addon2", autocomplete: "off",
        data: {searchBar_target: "inputr"}
      %>
    <%= submit_tag "Search", class: "btn btn-primary d-none", id: "basic-addon2" %>
    <% end %>
  </div>
   <%# <button class="btn-search" data-searchBar-target="magnify" data-action="click->searchBar#visibility">
    <i class="fas fa-search"></i>
  </button> %>
</div>
<%# blur->searchBar#visibility %>
