<h2><%= venue.name %></h2>
<% if venue.photos.attached? %>
  <% venue.photos.each do |photo| %>
    <%= link_to venue_path(venue) do %>
      <%= cl_image_tag photo.key, crop: :fill %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to venue_path(venue) do %>
    <%= image_tag (Unsplash::Photo.search(venue.city.name)[0][:urls].thumb) %>
  <% end %>
<% end %>
<p><%= venue.address %>, <%= venue.city.name %></p>
