<%= render "shared/search_bar_home" %>
<div data-controller="mapDisplay">
  <%# <div class="container"> %>
    <div class="map-border" data-mapDisplay-target="mapb">
      <div style="width: 100vw; height: 100vh;" class="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <%# </div> %>
  </div>
  <div class="venues d-none" data-mapDisplay-target="venueList">
    <% @cities.each do |city| %>
      <div class="homepage-card-container">
        <div class="location-card">
          <%= render "city_card_photo", city: city %>
          <div class="description-container">
            <div class="venue-name">
              <%= city.name %>
            </div>
            <div class="venue-description">
              <%= city.description %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container">
      <div class="floating-button">
        <p class="btn d-flex justify-content-between" id="homepage-map-button" data-mapDisplay-target="gridButton" data-action="click->mapDisplay#displayToggle">
          <i class="gg-list" data-mapDisplay-target="icon"></i><span data-mapDisplay-target="buttontext">List</span>
        </p>
      </div>
  </div>
</div>
