<%= render "shared/search_bar_home" %>
<div data-controller="mapDisplay">
  <%# <div class="container"> %>
    <div class="map-border" data-mapDisplay-target="mapb">
      <div style="width: 100vw; height: 100vh;" class="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <%# </div> %>
  </div>
  <div class="venues d-none" data-mapDisplay-target="venueList">
    <% @cities.each do |city| %>
      <div class="homepage-card-container">
        <div class="location-card">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% 4.times do |i|%>
                <%= render "city_card_photo", city: city, i: i %>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="description-container">
            <div class="venue-name">
              <h4><%= city.name %></h4>
            </div>
            <div class="venue-description">
              <p><%= city.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container">
      <div class="floating-button">
        <p class="btn" id="homepage-map-button" data-mapDisplay-target="gridButton" data-action="click->mapDisplay#displayToggle">Cities</p>
      </div>
  </div>
</div>
