<%= simple_form_for @venue do |f| %>
  <% unless @venue.persisted? %>
    <% @venue.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.association :city%>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Create venue" %>
<% end %>
