<div class="container show-container">
  <% if @venue.photos.attached? %>
    <% @venue.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "venue-mini" %>
    <% end %>
  <% else %>
    <%# unsplash search result, first photo of city interpolated into the style %>
    <% @photo_url = Unsplash::Photo.search("restaurant").sample[:urls].raw%>
    <% @phto_url = "https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg" if @photo_url.nil? || @photo_url.empty?%>
    <% @style = "background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(#{@photo_url});" %>
    <div class="venue-show-card-image" style="<%= @style %>">
      <p class="city-show-card-city-name" id="city"><%= @venue.name %></p>
    </div>
  <% end %>
  <div class="venue-show-card">
    <%# <% if @venue.photos.attached? %>
      <%# @venue.photos.each do |photo| %>
        <%# <div class="venue-image-container" style="<%="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1),rgba(245, 246, 252, 0.3),rgba(82, 82, 82, 0.7)),
                                                      url(#{image_tag photo.key, height: 150, width: 150, crop: :fill});"  %>
        <%# <%= @venue.name %>
        <%# </div>
      <% end %>
    <%# <% end %>
      <%# <% @venue.photos.each do |photo| %>
        <%# <%= cl_image_tag photo.key, class: "venue-photo" %>
      <%# <% end %>
    <div class="venue-description-container">
      <div>
        <%= link_to city_path(@venue.city), class: "mt-3 venue-show-card-city-name", id: "country" do %>
          <p> <span id="pin">📌</span> <%= @venue.city.name %></p>
        <% end %>
        <h6> <%= @venue.address %></h6>
      </div>
      <p><%= @venue.description %></p>
    </div>
  </div>
  <div class="px-8">
    <div class="map-border" data-mapDisplay-target="mapb">
      <div style="width: 100vw; height: 50vh;" class="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="venue-button-container" id="">
    <%# <a href="" class="btn btn-success" id="accept-venue">Add to previous</a>
    <a href="" class="btn btn-success" id="accept-venue"></a> %>
    <%= link_to city_path(@venue.city), class: "btn btn-success", id: "accept-venue" do %>
      <i class="gg-arrow-left"></i>
    <% end %>
    <% if @journey_venue %>
      <%= link_to journey_venue_path(@journey_venue), method: :delete, class: "btn btn-success", id: "reject-venue" do %>
        <i class="gg-trash"></i>
      <% end %>
    <% else %>
      <%= link_to venue_journey_venues_path(@venue), method: :post, class: "btn btn-success", id: "accept-venue" do %>
        <i class="gg-add-r"></i>
      <% end %>
    <% end %>
  </div>
</div>
