<div data-controller="cityShow">
  <div class="container show-container" data-cityShow-target="window" data-action="">
    <% @photo_url = Unsplash::Photo.search(@city.name)[0][:urls].raw%>
    <% @phto_url = "https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg" if @photo_url.nil? || @photo_url.empty?%>
    <% @style = "background-image: url(#{@photo_url});" %>
    <div class="city-card-image" style="<%= @style %>">
      <p class="city-show-card-city-name" id="city"><%= @city.name %>, <%= @city.name_country %></p>
    </div>
    <div class="city-show-venues-container my-8">
      <div class="category-cards-container">
        <% categories = %w[sites restaurants bars parks] %>
        <% 4.times do |i| %>
          <h2 class="flex-center py-3"><strong><%= categories[i].capitalize %></strong></h2>
          <% unsplash_photo_search = Unsplash::Photo.search("restaurant") %>
          <div class="category-card">
            <% @venues.first(2).each do |venue|%>
              <% @photo_url = unsplash_photo_search.sample[:urls].regular%>
              <% @photo_url = "https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg" if @photo_url.nil? || @photo_url.empty?%>
              <% @style = "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
                                            url(#{@photo_url});" %>
              <%= link_to venue_path(venue), class: "fill" do %>
                <div class="city-card-image-small" style="<%= @style %>">
                  <p class="city-show-card-city-name-small"><%= venue.name %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
