<% empty = true %>
<% @venues.each do |venue| %>
  <% if venue.photos.attached? %>
  <%# <a href="<%= venue_path(venue) " class="fill"> %>
    <% empty = false %>
  <% end %>
<% end %>
<div class="container show-container">
  <% unless empty %>
    <% @venues.each do |venue| %>
      <%= cl_image_tag venue.photos.first.key, class: "venue-mini" %>
    <% end %>
  <% else %>
    <%# unsplash search result, first photo of city interpolated into the style %>
    <% @photo_url = Unsplash::Photo.search(@city.name)[0][:urls].raw%>
    <% @phto_url = "https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg" if @photo_url.nil? || @photo_url.empty?%>
    <% @style = "background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1),rgba(245, 246, 252, 0.3),rgba(82, 82, 82, 0.7)),
                                    url(#{@photo_url});" %>
    <div class="city-card-image" style="<%= @style %>">
      <p class="city-show-card-city-name" id="city"><%= @city.name %>, <%= @city.name_country %></p>
    </div>
    <%# </a> %>
  <% end %>
  <div class="venue-show-card">
    <div class="category-cards-container">
      <% categories = %w[sites restaurants bars parks] %>
      <% 4.times do |i| %>
        <p><strong><%= categories[i].capitalize %></strong></p>
        <div class="category-card">
          <%# unsplash search result, first photo of city interpolated into the style %>
          <% @venues.first(4).each do |venue|%>
            <%# <% @photo_url = Unsplash::Photo.random[:urls].small%>
            <%# <% @phto_url = "https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg" if @photo_url.nil? || @photo_url.empty?%>
            <% @photo_url = "https://source.unsplash.com/random" %>
            <% @style = "background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1),rgba(245, 246, 252, 0.3),rgba(82, 82, 82, 0.7)),
                                      url(#{@photo_url});" %>
            <a class="fill" href="<%= venue_path(venue)%>">
              <div class="city-card-image-small" style="<%= @style %>">
                <p class="city-show-card-city-name-small"><%= venue.name %></p>
              </div>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
