<div class="container show-container">
  <div class="venue-show-card">
    <% if @city.photos.attached? %>
      <% @city.photos.each do |photo| %>
        <div class="venue-image-container" style="<%="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1),rgba(245, 246, 252, 0.3),rgba(82, 82, 82, 0.7)),
                                                      url(#{cl_image_path photo.key, height: 150, width: 150, crop: :fill});"  %>">
          <%= @city.name %>, <%= @city.country_name %>
        </div>
      <% end %>
    <% else %>
      <div class="venue-image-container" style="<%=" background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1),rgba(245, 246, 252, 0.3),rgba(82, 82, 82, 0.7)),
                                  url(https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg);"  %>">
        <p class="city-show-card-city-name" id="city"><%= @city.name %>, <%= @city.country_name %></p>
      </div>
    <% end %>
    <div class="venue-description-container">
      <p><%= @city.description %></p>
    </div>
  </div>
  <div class="category-cards-container">
    <p>Category name</p>
    <div class="category-card">
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
    </div>
  </div>
   <div class="category-cards-container">
    <p>Category name</p>
    <div class="category-card">
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
    </div>
  </div>
   <div class="category-cards-container">
    <p>Category name</p>
    <div class="category-card">
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
    </div>
  </div>
   <div class="category-cards-container">
    <p>Category name</p>
    <div class="category-card">
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
      <a class="fill">
        <%= image_tag 'https://cdn.theculturetrip.com/wp-content/uploads/2020/01/pctp00014-oldestfoodbusinesses-newyork-usa-zahoran-03.jpg', class: "venue-mini" %>
      </a>
    </div>
  </div>
</div>

<%# COORDS %>
<%= @city.latitude %>
<%= @city.longitude %>


<% if @city.photos.attached? %>
  <% @city.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
  <% end %>
<% else %>
  <%= image_tag "https://res.cloudinary.com/wvala/image/upload/v1653657110/nxr4ymq5mgmmfmwflkqv.jpg" %>
<% end %>

