<div class="journey-overview-map">
  <div data-controller="mapDisplay" class="py-16">
    <div class="map-border" data-mapDisplay-target="mapb">
      <div style="width: 100%; height: 45vh;" class="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="container journeys-container p-0 m-0">
  <div class="journey-header">
    <h2>Your Journey</h2>
  </div>
  <% @journey_venues.each do |venue| %>
    <div class="venue-journey-card">
      <div class="venue-card-image" style="h-50 w-45">
        <p class="venue-card-image-header"><%= "#{venue.name.capitalize}'s view from front" %></p>
      </div>
      <div class="venue-card-description">
        <p class="venue-card-description-header"><%= venue.name.capitalize %></p>
        <%# <p class="venue-card-description-body"><%= venue.description %></p>
        <div class="d-flex">
            <%= link_to "Preview", venue_path(venue), class: "btn journey-button" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="main-button">
    <a href="#" class="btn" id="main-button">Confirm</a>
  </div>
</div>
