<div class="journey-overview-map">
  <div data-controller="mapDisplay" class="py-16">
    <div class="map-border" data-mapDisplay-target="mapb">
      <div style="width: 100%; height: 45vh;" class="map"
        data-controller="mapbox"
        data-mapbox-journey-show-value="show"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="container journeys-container p-0 m-0">
  <div class="journey-header">
    <h2>Your Journey</h2>
  </div>
  <% @unsplash_photo_search =  Unsplash::Photo.search("restaurant") %>
  <% @journey_venues.each do |venue| %>
     <% @photo_url = @unsplash_photo_search.sample[:urls].raw%>
    <% @photo_url = "https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg" if @photo_url.nil? || @photo_url.empty?%>
    <% @style = "background-image: url(#{@photo_url});" %>
    <div class="venue-journey-card">
      <div class="venue-card-image"  style="<%= @style %>"></div>
      <div class="journey-venue-card-description">
        <p class="venue-card-description-header"><%= journey_venue.venue.name %></p>
        <p><%= journey_venue.venue.address %></p>
        <div class="stick-bottom">
          <div id="journey-button-holder">
            <%= link_to venue_path(journey_venue.venue), id: "journey-preview" do %>
              <i class="gg-eye"></i>
            <% end %>
            <%# <%= link_to "Remove", journey_venue_path(venue), method: :delete, id: "journey-reject-button"%>
            <%= link_to journey_venue_path(journey_venue), method: :delete, class: "btn btn-success", id: "reject-venue" do %>
              <i class="gg-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="main-button">
    <%= link_to "Directions", preview_path(@journey), class: "btn", id: "main-button" %>
  </div>
</div>
