<div class="journey-overview-map">
  <div data-controller="mapDisplay" class="py-16">
    <div class="map-border" data-mapDisplay-target="mapb">
      <div style="width: 100%; height: 45vh;" class="map"
        data-controller="mapbox"
        data-mapbox-journey-show-value="show"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="container journeys-container p-0 m-0">
  <div class="journey-header">
    <h2>Your Journey</h2>
  </div>
  <% @journey_venues.each do |venue| %>
     <% @photo_url = Unsplash::Photo.search("restaurant").sample[:urls].raw%>
    <% @photo_url = "https://ychef.files.bbci.co.uk/976x549/p04dgkm4.jpg" if @photo_url.nil? || @photo_url.empty?%>
    <% @style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                                           url(#{@photo_url});" %>
    <div class="venue-journey-card">
      <div class="venue-card-image"  style="<%= @style %>">
        <p class="venue-card-image-header"><%= "#{venue.name}'s view from front" %></p>
      </div>
      <div class="venue-card-description">
        <p class="venue-card-description-header"><%= venue.name %></p>
        <div class="d-flex align-items-end">
            <%= link_to "Preview", preview_path(@journey), class: "btn journey-button" %>
            <%= link_to journey_venue_path(JourneyVenue.find_by(journey: @journey, venue: venue)), method: :delete do %>
            <i class="fa fa-trash"></i>
            <% end%>
        </div>
      </div>
    </div>
  <% end %>
  <div class="main-button">
    <%= link_to "Directions", preview_path(@journey), class: "btn", id: "main-button" %>
  </div>
</div>
